<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Fox Valley Bahá'ís
    body
        #wrapper
            header.main-header
                h1.main-header__title
                    a.main-header__title-link(href="#") Fox Valley Bahá'ís
                #hamburger.mobile
                    a#burger-button(href="#")
                nav.main-header__nav
                    ul.main-header__nav-list
                        li.main-header__nav-list-item
                            a.main-header__nav-list-item-link.main-header__nav-list-item-link--current(href="#") Home
                            a.main-header__nav-list-item-link(href="#") Who We Are
                            a.main-header__nav-list-item-link(href="#") Local Activites
                            a.main-header__nav-list-item-link(href="#") Contact Us