<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Fox Valley Bahá'ís
    body
        header
            h1
                a(href="#") Fox Valley Bahá'ís
            #hamburger.mobile
                a#burger-button(href="#")
            nav
                ul
                    li
                        a.current-page(href="#") Home
                        a(href="#") Who We Are
                        a(href="#") Local Activites
                        a(href="#") Contact Us