$quote-border-padding: 2rem
$quote-border-size: 3px solid

.splash
  position: relative
  background: $trans-white

.blitter
  &__image
    height: auto
    min-width: 100%


.quote
  // background: $trans-black
  padding: 2rem 0
  position: absolute
  bottom: 0
  overflow: hidden
  &__bq
    animation: popIn 4s .5s forwards
    color: white
    font-family: $header-font
    font-size: 1.6rem
    font-style: italic
    font-weight: bold
    opacity: 0
    padding: 0 4rem
    text-shadow: 2px 2px $eerie-black
    transform: translate(0, 10rem)
    &:after, &:before
        content: ""
        display: block
        margin: 0 auto
        width: 0%
    &:after
        padding-top: $quote-border-padding
        border-bottom: $quote-border-size
        animation: expand 2s 2.6s 1 forwards
    &:before
        padding-bottom: $quote-border-padding
        border-top: $quote-border-size
        animation: expand 2s 2.4s 1 forwards

@keyframes expand
    from
        width: 0%
    to
        width: 100%

@keyframes popIn
    0%
        opacity: 0
        transform: translate(0, 10rem)
    50%
        transform: translate(0)
    100%
        opacity: 100
        transform: translate(0)

.section
  height: 25rem
  text-align: center
  background-size: cover

.card
  display: flex
  flex-direction: column
  justify-content: center
  &__title
    font-size: 1.7rem
    font-family: $subheader-font
    font-weight: normal
  &__inner-wrapper
    &--inset
      margin: 3.2rem
      padding: .7rem
  &__paragraph
    font-size: 1rem
    line-height: 1.2rem
    text-shadow: 1px 1px $eerie-black
  &__link-list
    list-style: none
    padding: 0
    text-align: left
  &__list-link
    text-decoration: none
    font-weight: bold
    font-size: 1rem
    transition: padding 0.1s
    &:hover
      padding: .2rem
    

#learn-more-section
  background: $learn-more-background
  background-size: cover
  color: white

#learn-more-what-is
  .card__inner-wrapper
    background: $trans-black
    .card__btn
        display: none

#learn-more-cta
  background: $trans-black

#activites-section
  background: $events-background

#activites-local
  background: $trans-white
  .card__title
    text-align: left
  .card__list-link
    color: $black-but-not-quite-black
    font-size: 1.2rem

#smallcal
  .fc-scroller
    background: $trans-white
    height: 300px !important
