include ./partials/header.pug

#container
    #blitter
    blockquote This is the Day in which God's most excellent favours have been poured out upon men, the day in which His mighty grace hath been infused into all created things.
    
    section#home-learn-more
        article#home-learn-more-content
            h2 What is the Bahá'í faith?
            p The Bahá’í Faith is the youngest of the world’s independent monotheistic religions. Founded in Iran in 1844, it now has more than seven million adherents in 236 countries and territories. Bahá’ís come from nearly every national, ethnic and religious background, making the Baha’i Faith the second-most-widespread religion in the world.
            p.mobile.text-center
                a(href="#") Learn More
        article#home-learn-more-cta
            h3 Interested in the Bahá'í faith?
            a(href="#") Learn More
    
    section#home-events
        article#home-events-menu
            h2 Local Activities
            ul#activity-list
                li#activity1.activity Devotional Gatherings
                li#activity2.activity Study Circles for Adults
                li#activity3.activity Classes for Children and Youth
                li#activity4.activity Community Service
        article#smallcal

include ./partials/footer.pug